* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    display: block;

    color: #000000;
    text-decoration: none;
}

.item {
    list-style: none;
}

.button {
    font: inherit;
}

.body__container {
    max-width: 1200px;
    min-width: 1200px;

    margin: 0 auto;

    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.page__header {
    background-color: #fff;
}

.header__navigation {
    position: relative;

    display: flex;
    flex-direction: column;
}

.header__logo {
    position: absolute;

    top: 0;
    left: 50%;
    margin-left: -69px;

    width: 138px;
    height: 70px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.nav__link {
    margin: 15px 72px;
}

.nav__link_current {
    color: #766357;
}

.nav__link:hover {
    color: #a3c7de;
}

.nav__link:active {
    color: #b2b2b2;
}

.main-container {
    background-image: url(../backgrounds/index-background_welcome.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.main__container {
    padding-top: 620px;
}

.main-container__description {
    text-align: center;

    padding: 0 355px;
    padding-bottom: 54px;

    background-color: #fff;
}

.main-description__title {
    font-size: 21px;
    line-height: 26px;

    margin-bottom: 30px;
}

.main-description__text {
    font-size: 14px;
    line-height: 26px;
}

.main-features__list {
    display: flex;
    flex-wrap: wrap;
}

.main-features__item {
    display: flex;
    flex-wrap: wrap;
}

.features__content_blue {
    background-color: #81b3d2;

    color: #fff;
}

.feature__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    text-align: center;
    font-size: 14px;
    line-height: 21px;

    width: 400px;
    min-height: 256px;

    padding-left: 45px;
    padding-right: 45px;
}

.feature__wrapper_higher{
    min-height: 330px;

    background-color: #fff;
}

.features-item__content {
    display: flex;
}

.feature__title {
    display: block;

    width: 160px;

    font-size: 21px;
    line-height: 21px;

    margin-bottom: 25px;
}

.feature__number {
    position: relative;

    margin-bottom: 25px;
}

.feature__number::after,
.feature__number::before {
    position: absolute;

    content: "";

    top: 9px;

    width: 10px;
    height: 1px;

    background-color: #000000;
}

.feature__number_white::after,
.feature__number_white::before {
    background-color: #ffffff;
}

.feature__number::before {
    right: -15px;
}

.feature__number::after {
    left: -15px;
}

.feature__title_icon::before {
    content: "";

    display: block;
    
    width: 90px;
    height: 90px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.feature__title_icon-house::before {
    background-image: url(../images/house-icon.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.feature__title_icon-food::before {
    background-image: url(../images/burger-icon.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.feature__title_icon-souvenir::before {
    background-image: url(../images/gift-icon.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.main__search {
    position: relative;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 55px;

    background-color: #fff;

    z-index: 5;
}

.motel-search__title {
    font-size: 30px;
    line-height: 36px;

    margin-bottom: 30px;
}

.motel-search__text {
    width: 450px;

    margin-bottom: 50px;
}

.motel-search__button {
    cursor: pointer;

    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;

    width: 568px;

    padding: 32px 140px;

    background-color: #766357;

    border: none;
}

.motel-search__button:hover {
    background-color: #604e43;
}

.motel-search__button:active {
    background-color: #503e33;
    color: #766860;
}

.main__map {
    min-height: 590px;

    background-image: url(../backgrounds/back-map.jpg);
    background-position: top center;

    /* z-index: ; */
}

.page__footer {
    position: absolute;

    display: flex;
    justify-content: space-between;

    margin-top: -120px;
    padding-top: 36px;
    padding-bottom: 36px;

    background-color: rgba(254, 254, 254, 0.8);

    /* z-index: 2; */
}

.footer__column {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
}

.footer-social__list {
    display: flex;
    justify-content: space-between;

    width: 150px;
}

.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 46px;

    background-color: #81b3d2;
}

.footer-social__link:hover {
    background-color: #669ec0;
}

.footer-social__link:active {
    background-color: #5496bd;
}

.footer-social__link:active path {
    fill: #88b6d1;
}

.footer-copyright__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright__text {
    margin-right: 10px;
}

.footer-copyright__link:hover path:last-child {
    fill: #81b3d2;
    
}

.footer-copyright__link:hover path {
    stroke: #81b3d2;
}

.footer-copyright__link:active path:last-child {
    fill: #bdbbbc;
    
}

.footer-copyright__link:active path {
    stroke: #bdbbbc;
}

.search-form__wrapper {
    position: fixed;

    /* bottom: -395px; */
    display: none;

    left: 316px;
    top: 50px;
    /* margin-left: -284px; */

    z-index: 1;
}

.motel-search__form {
    display: flex;
    flex-wrap: wrap;

    box-sizing: border-box;

    text-align: left;

    width: 568px;
    height: 395px;

    padding:  50px 55px;

    background-color: #fff;
}

.modal-show {
    display: block;

    animation-name: bounce;
    animation-duration: 0.5s;
}

@keyframes bounce{
    0% {transform: translateY(-300px);}
    30% {transform: translateY(20px);}
    100% {transform: translateY(0px);}
}



.search-form__text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    height: 38px;
    width: 100%;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;

    margin-bottom: 10px;
}

.search-form__text_small {

    width: 226px;
}

.search-form__text_small-margin {
    padding-left: 30px;
}

.search-form__input {
    position: relative;

    width: 346px;
    height: 38px;

    padding-left: 10px;

    box-sizing: border-box;

    font: inherit;

    background-color: #f2f2f2;

    border: none;
} 

.search-form__input::placeholder {
    text-transform: uppercase;
    color: #000000;
}

.search-form__input_icon{
   position: absolute;
    
}

/* .search-form__input_icon:active{
    background-image: url(../images/calendar_active.svg);
}

.search-form__input_icon:hover{
    background-image: url(../images/calendar-focus.svg);
} */

.search-form__input_small {
    width: 114px;
}

.search-form__text-wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;

    width: 100%;
}

.search-form__button {
    cursor: pointer;

    width: 100%;

    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;

    background-color: #81b3d2;

    border: none;
}

.search-form__button:hover {
    background-color: #669ec0;
}

.search-form__button:active {
    background-color: #5496bd;
    color: #88b6d1;
}